<div class="container">
  <h1>ユーザー</h1>
  <div class="users-index">
    <%= will_paginate %>
      <ul class="users">
        <%= render @users %>
      </ul>
    <%= will_paginate %>
  </div>
</div>
