<div class="container">
    <h1><%= @title %></h1>
    <div class="users-index">
      <% if @users.any? %>
        <%= will_paginate %>
        <ul class="users follow">
          <%= render @users %>
        </ul>
        <%= will_paginate %>
      <% end %>
    </div>
</div>
