<div class="container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <br>
      <h3>作成者情報</h3>
      <br></br>
      <div class="col-md-6 col-md-offset-3">
        <p>【名前】佐々木 慶</p>
        <p>【生年月日】1996年10月21日</p>
        <p>【経歴】</p>
        <p>桜美林大学 健康福祉学群出身<br>
        大学では<br>体育学・生理学・哲学・経済・スピーキング等<br>
        幅広い分野を学ぶ。<br>
      </p>
        <p>
          卒業後は<br>
          goodroom株式会社にてライターを経験したのち、<br>
          外部でフリーランスライターとして活動。<br>
          半年ほどで文字単価50円の記事執筆を達成。<br>
          その後、株式会社グリーライフスタイルの<br>
          メディアチームに参入。<br>
          SEOライティングを身につけたのちに<br>
          戦略立案チームに移動し、<br>
          施策立案のほか、python・GASなどを用いた<br>
          データ収集・分析を担当する。<br>
          参入から半年後に月間OS過去最高記録を達成。<br>
          この過程で経験した作業の自動化に感動し、<br>
          2020年4月ごろより本格的にプログラミング学習をはじめ、今に至る。
        </p>
      </div>
    </div>
  </div>
</div>
