<div class="container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <h3>「うまい酒が、なかなか飲めない」</h3>
      <br></br>
      <div class="col-md-6 col-md-offset-3">
        <p>
          「銘酒を飲んでみた。好みじゃなかった。」<br>
          「あの酒が置いてあると書いてあったけど、<br>
          いつ行っても品切れだ。」<br>
          <strong>"うまい酒が、なかなか飲めない。"</strong><br>
          この、シンプルかつ難解な課題を解決したい。<br>
          そんな思いから、【SAKELOG】は生まれました。<br>
          <br>
          友人のお酒を眺めて、お店選びの参考に。<br>
          <br>
          「これは美味い！」<br>
          と舌鼓を打ったお酒にまた出会えるよう、<br>
          あなた用の備忘録に。<br>
          <br>
          飲兵衛のあなたに【SAKELOG】は寄り添います。<br>
        </p>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <br>
      <h3>作成者情報</h3>
      <br></br>
      <div class="col-md-6 col-md-offset-3">
        <p>【名前】<br>佐々木 慶</p>
        <p>【生年月日】<br>1996年10月21日</p>
        <p>【経歴】</p>
        <p>桜美林大学 健康福祉学群出身<br>
        大学では<br>体育学・生理学・哲学・経済・スピーキング等<br>
        自らの知的好奇心に従って幅広い分野を学ぶ。<br>
      </p>
        <p>
          卒業後は<br>
          goodroom株式会社にてライターを経験したのち、<br>
          外部でフリーランスライターとして活動。<br>
          半年ほどで文字単価50円ほどに成長。<br>
          その後、株式会社グリーライフスタイルの<br>
          メディアチームに参入。<br>
          SEOライティングを身につけたのちに<br>
          戦略立案チームに移動し、<br>
          施策立案のほか、python・GASなどを用いた<br>
          データ収集・分析を担当する。<br>
          参入から半年後に月間OS過去最高記録を達成。<br>
          この過程で経験した作業の自動化に感動し、<br>
          2020年4月ごろより、本格的にプログラミング学習をはじめる。
        </p>
      </div>
    </div>
  </div>
</div>
