<!-- <div class="container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2 text-center">
      <h1>「うまい酒が、なかなか飲めない」</h1>
      <br></br>
      <p>
        「銘酒と謳われた酒を飲んだけど、好みじゃなかった。」<br>
        「あの酒が置いてあると書いてあったのに、何回行っても品切れ。」<br>
        <strong>"うまい酒が、なかなか飲めない。"</strong><br>
        この、シンプルかつ難解な課題を解決したい。<br>
        そんな思いから、【SAKELOG】は生まれました。<br>
        友人のお酒を眺めて、お店選びの参考に。<br>
        「これは美味い！」<br>
        と舌鼓を打ったお酒にまた出会えるように、<br>
        あなた用の備忘録に。<br>
        飲兵衛のあなたに【SAKELOG】は寄り添います。<br>
      </p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-8 col-md-offset-2 text-center">
      <h1>作成者情報</h1>
      <br></br>
      <p>名前：佐々木 慶</p>
      <p>1996年10月21日生まれ</p>
      <p>〜経歴〜</p>
      <p>桜美林大学　卒業</p>
      <p>
        goodroom株式会社にてライターとして勤務後、<br>
        外部でフリーランスライターとして活動。<br>
        半年ほどで文字単価50円ほどの案件を受注する。<br>
        株式会社グリーライフスタイルのSEOマーケチームに参入し、<br>
        SEOライティング・データ分析・戦略立案とうの業務に携わる。<br>
        SEOライティングを担当したのちに、適性等を考慮し、戦略チームに移動。<br>
        参入から半年後に月間OS過去最高記録を達成。<br>
        チーム内では施策立案のほか、python・GASなどを扱っていたことから、<br>
        プログラミングに興味が沸き、2020年3月ごろより、本格的に学習をはじめる。
      </p>
      <p>その他の経歴として、モデルとしてランウェイを歩いた経験もあります。</p>
    </div>
  </div>
</div> -->
