<!-- トップページ -->

<% if logged_in? %>
<div class="container">
  <div class="row">
    <h3>投稿一覧</h3>
    <%= render 'shared/feed' %>
  </div>
</div>

<% else %>

<div class="top-hero-wrapper text-center">
  <%#= image_tag 'top.png' %>
    <!-- テキスト -->
  <div class="copy">
    <!-- <h1 class="text-white top">　うまい日本酒を　<br>　記録しよう。　</h1> -->
  </div>
</div>

<% end %>
