<!-- トップページ -->

<% if logged_in? %>
  <div class="container">
    <div class="row">
      <div class="micropost-index col-md-8 col-md-offset-2">
        <h3>投稿一覧</h3>
        <div class="microposts-index-wrapper">
          <%= render 'shared/feed' %>
        </div>
      </div>
    </div>
  </div>
<% else %>
    <div class="container top-page-wrapper">
      <div class="row">
        <div class="col-md-6 col-md-offset-3 copy-block">
          <div class="copy-logo">
            <%= image_tag 'SAKELOG-logo.png' %>
          </div>
          <div class="copy">
            <h1>うまい日本酒を<br>記録しよう。</h1>
          </div>
        </div>
      </div>
    </div>
<% end %>
