
<li class="col-md-6" id="micropost-<%= micropost.id %>">
  <span class="content">
    <%= link_to micropost_path(micropost) do %>
    <%= image_tag micropost.image.url %>
    <% end %>
  </span>
</li>
