<div class="container">
  <div class="row">
    <h1>ブックマーク</h1>
      <% if @user.bookmark_microposts.any? %>
        <ol class="microposts">
          <%= render @microposts %>
        </ol>
        <%= will_paginate @microposts %>
      <% end %>
  </div>
</div>
