<% if logged_in? %>
  <div class="container">
    <div class="row">
      <div class="micropost-index col-md-8 col-md-offset-2">
        <h3>投稿一覧</h3>
        <div class="microposts-index-wrapper">
          <%= render 'shared/feed' %>
        </div>
      </div>
    </div>
  </div>
<% end %>
