@import "bootstrap-sprockets";
@import "bootstrap";


body{
  font-family: 'ヒラギノ角ゴシック','Hiragino Sans','MS UI Gothic',Hiragino Mincho ProN,Cambria,Optima,sans-serif;
  color: black;
  margin: 0 0;
  padding-top: 110px;

}

.alert{
  position: absolute;
  width: 100%
}

ul{
  list-style: none;
}

a{
  text-decoration: none;
  &:visited{
      color: #333333;
  }
}

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

/*ーーーーーーーーーーーーー　container-general ーーーーーーーーーーーーー*/

.container{
  padding: 60px 15px;
  background-color:rgba(255,255,255,0.9);
  background-blend-mode:lighten;
  background-image: image-url('SAKELOG-logo.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.header-block{
  padding: 0 0;
}

.row{
  h3{
    text-align: center;
    font-weight: bold;
  }
}

/* ーーーーーーーーーーーーー　Header ーーーーーーーーーーーーー */

.luxbar-menu-light {
    background-color: white;
    color: #333333;
    height: 100px;
}

.luxbar-menu {
    min-height: 100px;
    transition: 0.6s ease;
    width: 100%;
}

.luxbar-header{
  height: 100px;
}

.luxbar-menu-light .luxbar-item:hover {
    background-color: white;
}

.luxbar-item{
  display: inline-block;
  transition: all 0.3s ease 0s;
  margin-top: 35px;
  font-weight: bold;
  &:hover{
    opacity: 0.6;
  }
  a{
    text-decoration: none;
    padding: 10px;
  }
}
.navbar{
  height: 110px;
  margin-bottom: 0;
  text-align: center;
  background-color: white;
  border-bottom: 2px solid #e8e8e8;

    /* ーーーーーーーーーーーーー LogoImage ーーーーーーーーーーーーー */
    img{
      padding-top: 10px;
      height: 90px;
      width: 90px;
      display: inline-block;
      float: left;
    }
}



/* ーーーーーーーーーーーーー Footer ーーーーーーーーーーーーー */

footer{
  border-top: 4px double #e8e8e8;
  height: 110px;
  .container{
    padding: 15px 0 0 0;
    text-align: center;
    .footer-block{
      width: 100%;
    }
    li{
      font-weight: bold;
      padding: 25px 20px 25px 20px;
      display: inline-block;
    }
  }
}

/* ーーーーーーーーーーーーー TopPage ーーーーーーーーーーーーー */

.top-page-wrapper{
  padding-top: 25px;
}
.top-copy{
  text-align: center;
}
.btn-flat-border {
  margin-top: 50px;
  height: 100px;
  width: 100%;
  display: inline-block;
  padding: 13px 10px;
  text-decoration: none;
  background: white;
  color: #333333;
  border: solid 4px #333333;
  border-radius: 3px;
  transition: .4s;
  text-align: center;
  h3{
    font-weight: bold;
  }
}

.btn-flat-border:hover {
  background: #333333;
  color: white;
}




/* ーーーーーーーーーーーーー Signup_page ーーーーーーーーーーーーー */

.signup_page{
  h1{
    text-align: center;
  }
}

input, textarea, select, .uneditable-input {
  border: 1px solid grey;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}



.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}


/* ーーーーーーーーーーーーー Users index ーーーーーーーーーーーーー */
.users-index{
  margin-top: 30px;
  border-top: 2px solid #e8e8e8;
  text-align: left;
  .users {
    list-style: none;
    margin: 0;
    li {
      overflow: auto;
      padding: 10px 0;
      border-bottom: 1px solid $gray-lighter;
      img{
        height: 40px;
        width: 40px;
        border-radius: 50%;
        margin-right: 20px;
      }
    }
  }
}

/* ーーーーーーーーーーーーー Users show ーーーーーーーーーーーーー */

.profile-area{
  padding-bottom: 10px;

/* name,profile-image,icons */
  .profile-name{
    padding: auto;
    text-align: center;
    .user-image{
      display: block;
      img{
        height: 90px;
        width: 90px;
        border-radius: 50%;
      }
    }

    h3{
      display: inline-block;
    }

    .fa-sign-out-alt{
      padding-left: 3px;
    }

    a{
      &:hover{
        text-decoration: none;
      }

      span{
        color: #333333;
      }
    }

    .stats {
      padding: 10px 0;
      .stats-list{
        margin-left: 10px;
        width: 100%;
        a {
          padding: 0 10px;
          border-left: 1px solid #333333;
          color: #333333;
          &:first-child {
            padding-left: 0;
            border: 0;
          }
          &:hover {
            text-decoration: none;
          }
        }
      }
    }
  }

/* follow-status, introduction */
  .profile-stats{
    text-align: center;
    .profile-numbers{
      padding: 20px 0;
      h4{
        display: inline-block;
      }
    }

    .introduction{
      display: inline-block;
      text-align: center;
      width: 50%;
      height: 40%;
    }
  }
}



.users.follow {
  padding: 0;
}

/* post-trandition */

.nav-tabs{
  text-align: center;
  padding-right: 0;
  background-color: none;
  li{
    display: inline-block;
    font-weight: bold;
    float: none;
    width: 49%;
    a{
      color: black;
      }
    }
}

/* ーーーーーーーーーーーーー microposts rate ーーーーーーーーーーーーー */

.star-rate{
  label{
    display: block;
  }
  img{
    height: 20px;
    width: 20px;
  }
}


/* ーーーーーーーーーーーーー microposts ーーーーーーーーーーーーー */
.micropost-index{
  padding: 0 0;
}
  .microposts-index-wrapper{
    margin-top: 60px;
    border-top: 2px solid #e8e8e8;
  }
  .microposts {
    list-style: none;
    padding: 0;
    li {
      padding: 70px 0 0 0;
      text-align: center;
    }
    .content {
      display:inline-block;
      position: relative;
      border: 2px solid #333333;
      box-shadow: 2px 2px 3px gray;
      transition: all 0.1s ease 0s;
      &:hover{
        box-shadow: 5px 5px;
        transform: translate(-0.4em) translateY(-0.4em);
      }

      .micropost-image {
        position: relative;
      }

      .feeds-bookmark-btn{
        box-shadow: 2px 2px 3px black;
        border-bottom: 2px solid #333333;
        border-left: 2px solid #333333;
        width: 40px;
        height: 40px;
        padding-top: 6px;
        position: absolute;
        right: 0px;
        display: inline-block;
        background-color: white;
        a{
          color: #333333;
        }
      }

      .user-infomation{
        margin: 0;
        padding: 10px 0;
        background-color: white;
        img{
          height: 30px;
          width: 30px;
          border-radius: 50%;
        }
      }

    }
  }
/* ーーーーーーーーーーーーー micropost show ーーーーーーーーーーーーー */

.post-status{
  text-align: center;
  .post-rabel{
    padding-top: 15px;
    display: inline-block;
    border: 4px double #333333;
    width: 95%;
    .post-text{
      font-weight: bold;
     }
    .content{
      margin: 30px auto;
      width: 80%;
    }
    a{
        color: #333333;
    }
    div{
      display: inline-block;
      padding: 20px;
    }
  }

  .user{
    font-weight: bold;
    padding-bottom: 5px;
    img{
      height: 30px;
      width: 30px;
      border-radius: 50%;
    }
  }

}

.post-image {
  text-align: center;
  padding: 0;
  img {
    display: inline-block;
    box-shadow: 2px 2px 3px gray;
    border: 2px solid #333333;
    margin-bottom: 20px;
    }
  }


/* ーーーーーーーーーーーーー micropost form ーーーーーーーーーーーーー */
#user_img{
  border: none;
}

#micropost_taste{
  height: 23px;
}

#micropost_flavor{
  height: 23px;
}
.upload-preview{
  img{
    height: 200px;
  }
}

/* ーーーーーーーーーーーーー miscellaneous ーーーーーーーーーーーーー */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}
