@import "bootstrap-sprockets";
@import "bootstrap";


body{
  font-family: 'ヒラギノ角ゴシック','Hiragino Sans','MS UI Gothic',Hiragino Mincho ProN,Cambria,Optima,sans-serif;
  color: black;
  margin: 0 0;
  padding-top: 150px;
}

ul{
  list-style: none;
}

a{
  text-decoration: none;
  &:visited{
      color: #333333;
  }
}

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

/*ーーーーーーーーーーーーー　container-general ーーーーーーーーーーーーー*/

.row{
  h1{
    text-align: center;
  }
}



/* ーーー Header ーーー */

.navbar{
  height: 110px;
  text-align: center;
  background-color: white;
  border-bottom: 2px solid #e8e8e8;
  .container{
    /* ーーーーーーーーーーーーー LogoImage ーーーーーーーーーーーーー */
    img{
      padding-top: 10px;
      height: 90px;
      width: 90px;
      display: inline-block;
      float: left;
    }

    /* ーーーーーーーーーーーーー NavigationLists ーーーーーーーーーーーーー */
    nav{
      padding-top: 35px;
      float: right;
      ul{
        margin: 0 0;
        li{
          font-weight: bold;
          padding-right: 8px;
          float: left;
          // writing-mode: vertical-rl;
          a{
            &:hover{
              background-color: white;
            }
            padding: 6px 6px;
            &::after {
              position: absolute;
              content: '';
              bottom: 0;
              left: 0;
              width: 0;
              height: 3px;
              background: black;
              transition: all 0.3s ease 0s;
            }
            &:hover::after {
              width: 100%;
            }
          }
        }
      }
    }

  }
}



/* ーーーーーーーーーーーーー TopPage ーーーーーーーーーーーーー */

.top-hero-wrapper{
  width: 100vw;
  height: 100vh;
  background-image: url("top.png");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color:rgba(255,255,255,0.1);
  background-blend-mode:lighten;
  /*img{
    display: inline-block;
    margin: 15px 15px;
    height: 400px;
    position: relative;
    z-index: 1;
    left: 10%;
  }
  .copy{
    left: 15%;
    display: inline-block;
    position: absolute;
    z-index: 2;
    writing-mode: vertical-rl;
    h1{
      font-size: 50px;
      letter-spacing: 5px;
      line-height: 1.5;
      color: #333333;
    }
  }*/
}


/* ーーーーーーーーーーーーー　　ーーーーーーーーーーーーー */

.topic-index-wrapper{
  padding-top: 200px;
}

/* ーーーーーーーーーーーーー Signup_page ーーーーーーーーーーーーー */

.signup_page{
  h1{
    text-align: center;
  }
}

input, textarea, select, .uneditable-input {
  border: 1px solid grey;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}



.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}


/* ーーーーーーーーーーーーー Users index ーーーーーーーーーーーーー */
.users-index{
  text-align: left;
  .users {
    list-style: none;
    margin: 0;
    li {
      overflow: auto;
      padding: 10px 0;
      border-bottom: 1px solid $gray-lighter;
      img{
        height: 40px;
        width: 40px;
        border-radius: 50%;
        margin-right: 20px;
      }
    }
  }
}

/* ーーーーーーーーーーーーー Users show ーーーーーーーーーーーーー */

.profile-area{
  padding-bottom: 10px;
  border-bottom: 2px solid #e8e8e8;

/* name,profile-image,icons */
  .profile-name{
    padding: auto;
    text-align: center;
    .user-image{
      display: block;
      img{
        height: 90px;
        width: 90px;
        border-radius: 50%;
      }
    }

    h3{
      display: inline-block;
    }

    a{
      &:hover{
        text-decoration: none;
      }

      span{
        color: #333333;
      }
    }

    .stats {
      padding: 10px 0;
      .stats-list{
        margin-left: 10px;
        width: 100%;
        a {
          padding: 0 10px;
          border-left: 1px solid $gray-lighter;
          color: gray;
          &:first-child {
            padding-left: 0;
            border: 0;
          }
          &:hover {
            text-decoration: none;
          }
        }
      }
    }
  }

/* follow-status, introduction */
  .profile-stats{
    text-align: center;
    .profile-numbers{
      padding: 20px 0;
      h4{
        display: inline-block;
      }
    }

    .introduction{
      display: inline-block;
      text-align: center;
      width: 50%;
      height: 40%;
    }
  }
}



.users.follow {
  padding: 0;
}



/* ーーーーーーーーーーーーー microposts ーーーーーーーーーーーーー */

.microposts {
  list-style: none;
  padding: 0;
  li {
    padding-top: 70px;
    text-align: center;
  }
  .user {
    margin-top: 5em;
    padding-top: 0;
  }
  .content {
    text-align: center;
    img {
      display: inline-block;
      box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.25);
      color: #fff;
      margin: 0 0 1em;
      transition: all 0.3s ease 0s;
      &:hover{
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.25);
        transform: translateY(-0.1875em);
      }
    }
  }
  .timestamp {
    color: $gray-light;
    display: block;
    margin-left: 60px;
  }
}


span.image {
  margin-top: 10px;
  input {
    border: 0;
  }
}

/* ーーーーーーーーーーーーー micropost show ーーーーーーーーーーーーー */

.post-status{
  float: left;
  a{
      color: #333333;
  }
  div{
    display: inline-block;
    padding: 20px;
  }
  .user{
    font-weight: bold;
    padding-bottom: 30px;
    border-bottom: 1px solid #e8e8e8;
    img{
      height: 30px;
      width: 30px;
      border-radius: 50%;
    }
  }
}

.post-image {
  text-align: center;
  img {
    display: inline-block;
    }
  }


/* ーーーーーーーーーーーーー micropost form ーーーーーーーーーーーーー */

.upload-preview{
  img{
    height: 200px;
  }
}

/* ーーーーーーーーーーーーー miscellaneous ーーーーーーーーーーーーー */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}
