<footer>
  <div class="container">
    <div class="row footer-block">
      <div class="col-md-6 col-md-offset-3">
        <ul>
          <li><%= link_to "SAKELOGについて", about_path %></li>
          <p>© 2020 SAKELOG All rights reserved.</p>
        </ul>
      </div>
    </div>
  </div>
</footer>
